<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>
<body>
  <header>
    <h1>Eugene's Movie Ratings</h1>
    <h3>See if your opinions are correct</h3>
  </header>
  <main class="centered">
    <h1 class="show">{{title}}</h1>
    <img class="posterimg" src="{{posterurl}}" alt="{{title}} poster">
    <p class="show">Title: {{title}}</p>
    <p class="show">Director: {{director}}</p>
    <p class="show">Release Date: {{year}}</p>
    <p class="show">My Rating: {{rating}}</p>
  </main>
</body>
</html>
